# --- 编译输出目录 (最垃圾的文件，坚决不传) ---
build/
out/
bin/
obj/

# --- 机器生成的二进制文件 ---
*.o
*.elf
*.bin
*.hex
*.d
*.map

# --- 临时文件与日志 ---
*.log
*.tmp
*.swp

# --- VS Code 个人配置 (建议忽略，避免覆盖队友的设置) ---
.vscode/

# --- 其他 ---
.DS_Store